<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/bootstrap.min.css}">

<body class="p-3 mb-2 bg-light text-black">
	<div class="container" th:fragment="header">
		<div id="logoutDiv">
			<form th:action="@{'/logout'}" action="#" method="POST">
				<button id="logout-button" type="submit"
					class="btn btn-secondary float-right">Logout</button>
			</form>
			<span sec:authentication="name">Username</span> <span
				sec:authentication="principal.authorities">Roles</span>
		</div>
	</div>
	
	<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>