<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Schedule</title>
</head>


<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form th:action="@{'/logout'}" action="#" method="POST">
            <button id="logout-button" type="submit" class="btn btn-secondary float-right">Logout</button>
            <button id="show" type="button" class="btn btn-info float-right"
                    onclick="showScheduleModal()">
                Schedule a request
            </button>
            <span sec:authentication="name">Username</span>
            <span sec:authentication="principal.authorities">Roles</span>
        </form>
    </div>
</div>


<div class="table-responsive">
    <table th:each="allEntries:${ScheduledHours}" class="table table-striped" id="userTable">
        <thead>
        <tr>
            <th colspan="20" style="width: 100%; text-align: center" scope="col"
                th:text="${#temporals.dayOfWeekName(allEntries.key)+' - '}+${#temporals.day(allEntries.key)+'.'}+${#temporals.month(allEntries.key)+'.'}+${#temporals.year(allEntries.key)}"></th>
        </tr>
        <tr>
            <th style="width: 17%" scope="col">Mechanics</th>
            <th style="width: 4,5%" scope="col">8:00</th>
            <th style="width: 4,5%" scope="col">8:30</th>
            <th style="width: 4,5%" scope="col">9:00</th>
            <th style="width: 4,5%" scope="col">9:30</th>
            <th style="width: 4,5%" scope="col">10:00</th>
            <th style="width: 4,5%" scope="col">10:30</th>
            <th style="width: 4,5%" scope="col">11:00</th>
            <th style="width: 4,5%" scope="col">11:30</th>
            <th style="width: 4,5%" scope="col">12:00</th>
            <th style="width: 4,5%" scope="col">12:30</th>
            <th style="width: 4,5%" scope="col">13:00</th>
            <th style="width: 4,5%" scope="col">13:30</th>
            <th style="width: 4,5%" scope="col">14:00</th>
            <th style="width: 4,5%" scope="col">14:30</th>
            <th style="width: 4,5%" scope="col">15:00</th>
            <th style="width: 4,5%" scope="col">15:30</th>
            <th style="width: 4,5%" scope="col">16:00</th>
            <th style="width: 4,5%" scope="col">16:30</th>
            <th style="width: 2%" scope="col"></th>


        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr th:each="entryOfDay : ${allEntries.value.getTimeTable()}">
                <th th:text="${entryOfDay.key}"></th>
                <td th:each="schedule :${entryOfDay.value}"
                    th:class=" 'scheduled-' +${schedule.isScheduled()? 'true' : 'false'}"
                    th:text="${schedule.getTextOfCell()}"
                    th:colspan="${schedule.getColspan()}"
                >...
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">Schedule repair</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form th:object="${scheduleForm}" th:action="@{/schedule}" action="#" method="POST">
                    <input type="hidden" name="scheduleId" id="scheduleid">
                    <div class="form-group">
                        <label for="repReqList" class="col-form-label">Select request to be scheduled</label>
                        <select th:field="*{repReqId}" type="text" name="repairRequestList" class="form-control"
                                id="repReqList">
                            <option th:each="requests : ${UnscheduledRequests}"
                                    th:value="${requests.repReqId}"
                                    th:text="${requests.licencePlate}+'; '+${requests.defectDescription}">
                            </option>
                        </select>
                        <label for="mechanic" class="col-form-label">Select mechanic</label>
                        <select th:field="*{mechanic}" type="text" name="mechanic" class="form-control"
                                id="mechanic" maxlength="20" required>
                            <option value=" "></option>
                            <option th:each="mechs : ${AvailableMechanics}"
                                    th:value="${mechs.mechanicName}"
                                    th:text="${mechs.mechanicName}">
                            </option>
                        </select>

                        <label for="datetimeselector" class="col-form-label">Select the date of reparation</label>
                        <input th:field="*{beginningTime}" type="datetime-local" id="datetimeselector"
                               name="dateselector" class="form-control">
                        <label for="duration" class="col-form-label">Select estimated repair time in hours</label>
                        <input th:field="*{duration}" type="number" min="1" max="30" value="1" id="duration">
                        </select>
                    </div>

                    <!--div class="form-group">
                        <label for="licenceplate" class="col-form-label">Licence plate</label>
                        <input th:field="*{licencePlate}" type="text" name="licencePlate"
                               class="form-control" id="licenceplate" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label for="vinnumber" class="col-form-label">VIN number</label>
                        <input th:field="*{vinNumber}" type="text" name="vinNumber" class="form-control"
                               id="vinnumber" maxlength="20" required>
                    </div>


                    <div class="form-group">
                        <label for="defectdescription" class="col-form-label">Issue Description</label>
                        <textarea th:field="*{defectDescription}" class="form-control"
                                  name="defectDescription" id="defectdescription" rows="5"
                                  maxlength="1000" required></textarea>
                    </div-->
                    <button id="scheduleSubmit" type="submit" class="d-none"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('#scheduleSubmit').click();">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript">

            function showScheduleModal(repReqId, clientName,licencePlate,vinNumber, defectDescription) {
                $('#repreqid').val(repReqId ? repReqId: '');
                $('#clientname').val(clientName ? clientName : '');
                $('#licenceplate').val(licencePlate ? licencePlate: '');
                $('#vinnumber').val(vinNumber ? vinNumber: '');
                $('#defectdescription').val(defectDescription ? defectDescription : '');
                $('#scheduleModal').modal('show');
                }






</script>

<style type="text/css">
    .scheduled-true{
    background-color:red;
    border: 1px solid #ddd;
    border-radius:5px;
     }


</style>
</body>
</html>